:host{
  font-size: 1.2em;
  font-style: italic;
  font-weight: bolder;
  border-top: #78909c solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  color: #546e7a;
}

span.hart{
  color: #e91e63;
}
